body {
  font-family: Arial, sans-serif;
  text-align: center;
}

/* #game-board {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  grid-template-rows: repeat(5, 60px);
  margin: 20px auto;
} */
#game-board {
    display: grid;
    grid-template-columns: repeat(5, 70px);
    grid-template-rows: repeat(5, 70px);

    /* grid-gap: 1px; */
    margin: 10px auto;
    width: 335px;
    background-color: #818181;
  }

.cell {
  width: 70px;
  height: 70px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.cell.player1 {
  background-color: lightblue;
}

.cell.player2 {
  background-color: lightcoral;
}


body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  h1 {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: 0;
  }

  .cell {
    width: 50px;
    height: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
  }
  .highlight {
    background-color: #9b9;
    border-width: thick;
    
  }
  .player1 {
    color: rgb(41, 41, 53);
  }
  .player2 {
    color: rgb(64, 33, 33);
  }
  #game-status {
    margin: 20px;
    font-size: 18px;
  }
  #rules {
    margin: 20px auto;
    width: 80%;
    text-align: left;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  #rules h2 {
    margin-top: 0;
  }